/*
	Start testing styles 
*/ 

#footer-container {
	position: fixed;
	border: none;
	left: 0; 
	bottom: 0;
	width: 100%;
}

#upper-search {
	height: 20vh;
}

#search-bar-container {
	height: 100%;
}


#search-bar-input, #search-bar-label {
	color: black;
}

#search-bar-input {
	border: 3px solid black;
	background-color: rgba(255, 255, 255, 0.75);
}

#search-bar-input:hover, #search-bar-input:focus {
	outline: none;
	border-color: black;
	box-shadow: 0 0 10px white;
}


::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(#999999, #737373);
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background-image: linear-gradient(#737373, #2F2F2F);
	border-radius: 15px;
}


html, body {
	height: 100%;
}
body {
	background-image: linear-gradient(45deg, #e66465, #9198e5); 
}

/* START HEADER STYLES */

#header-root {
	position: relative;
	z-index: 1;
	background-color: transparent;
	border-color: transparent;
}

#header-container {
	display: flex; 
	justify-content: space-between;
	align-items: center;
	height: 100%;
}


/*
	Start base styles
*/ 

/* START SEARCH AREA STYLES */
#site-logo {
	width: 500px; 
	height: 200px;  
}

#query-results {
	max-height: 60vh; 
}

#ftext {
	color: white;
}




footer {
	background: grey;
}
